<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png?v=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png?v=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png?v=1">

    <title>Search Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <style>
        body {
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-color: #1f1f1f;
            color: white;
            font-family: 'Courier New', Courier, monospace;
        }

        .content-wrapper {
            flex: 1;
        }

        footer {
            background-color: #161616;
            color: white;
            padding: 1rem;
        }

        .navbar {
            background-color: #161616; 
            padding: 0.75rem 1rem;
        }

        .navbar-brand, .nav-link {
            color: white !important;
            font-weight: 500;
        }

        .navbar .nav-link:hover {
            color: #ff9c1b !important;
        }

        .btn-outline-dark {
            border-color: #ff9c1b;
            color: #ff9c1b;
        }

        .btn-outline-dark:hover {
            background-color: #ff9c1b;
            color: white;
        }

        .search-container {
            max-width: 600px;
            width: 90%;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .logo h1 {
            font-size: 4rem;
            font-weight: bold;
            color: #ff9c1b;
        }

        .search-box {
            background-color: white;
            border-radius: 30px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            padding: 0.5rem;
            display: flex;
            align-items: center;
        }

        .search-input {
            border: none;
            outline: none;
            width: 100%;
            padding: 0.5rem 1rem;
            font-size: 1.1rem;
            border-radius: 20px;
            line-height: 1.5rem;
            display: flex;
            align-items: center;
        }

        .search-input:focus {
            outline: none;
            background-color: #fff;
        }

        .search-icon {
            color: #8a8a8a;
            padding: 0 1rem;
            cursor: pointer;
        }

        .search-icon:hover {
            color: #000;
        }

        .shadow-orange {
            box-shadow: 0 4px 60px rgba(255, 156, 27, 0.2);
        }

        @media (max-width: 576px) {
            .logo h1 {
                font-size: 3rem;
            }
        }
        @keyframes fadeInLeft {
            0% {
            opacity: 0;
            transform: translateX(-20px);
            }
            100% {
            opacity: 1;
            transform: translateX(0);
            }
        }   
        @-webkit-keyframes fadeInLeft {
            0% {
                opacity: 0;
                transform: translateX(-20px);
                }
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        } 
    </style>
    {% block header %} {% endblock %}
</head>
<body>
    <div class="content-wrapper">
        {% block content %} {% endblock content %}
    </div>
    {% include 'footer.jinja2' %}
    {% block script %} {% endblock script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>