<footer class="bg-dark text-white py-2 fixed-bottom">
    <div class="px-3 text-end">
        <p class="mb-0 small">&copy; 2025 QuiCh. All rights reserved.</p>
        <a href="/LICENSE" class="text-white small">View License</a>
    </div>
    <div class="position-fixed bottom-0">
        <div class="d-flex align-items-center px-4 p-2">
            <i class="fas fa-map-marker-alt me-1 px-2 small"></i>
            <div>
                <span class="d-block small">Budapest, Hungary</span>
                <small class="text-white">From your IP • <a href="#" class="text-white">Update</a></small>
            </div>
        </div>
    </div>
</footer>
