{% extends 'base.jinja2' %}
{% block header %}
<title>Home</title>
<link href="/static/styles/cursor.css" rel="stylesheet">
{% endblock header %}

{% block content %}
{% include 'navbar.jinja2' %}
{% include 'search.jinja2' %}
{% endblock content %}