{% extends 'base.jinja2' %}
{% block header %}
<title>Home</title>
<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png?v=1">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png?v=1">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png?v=1">
<link rel="manifest" href="/static/site.webmanifest?v=1">
<link href="/static/styles/cursor.css" rel="stylesheet">
{% endblock header %}

{% block content %}
{% include 'navbar.jinja2' %}
{% include 'search.jinja2' %}
{% endblock content %}