<!-- Navigation Bar -->

<nav class="navbar navbar-expand-lg w-full shadow-orange">
    <div class="container-fluid">
        <div class="navbar-nav flex-row pl-6">
            <a class="nav-link px-6 text-black hover:text-orange-500" href="/">Home</a>
            <a class="nav-link px-6 text-black hover:text-orange-500" href="/blog">Blog</a>
        </div>
        <div class="mx-2">
            <a href="/v1/signin" class="btn btn-outline-dark">Sign in</a>
            <a href="/v1/signup" class="btn btn-outline-dark">Sign up</a>
        </div>
    </div>
</nav>