<!-- Navigation Bar -->
<nav class="navbar navbar-expand">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="#">Blog</a>
        </div>
        <a href="/v1/signup" class="btn btn-outline-dark">Sign In</a>
    </div>
</nav>