<!-- Search Container -->
<div class="search-container">
    <div class="logo">
        <h1>Wisdom of Bytes</h1>
    </div>
    <div class="search-box">
        <i class="fas fa-search search-icon"></i>
        <form class="w-100" aria-label="Search" hx-boost="true" method="GET" action="/search">
            <input type="search" name="term" class="search-input" placeholder="Example: How to find my first SSRF?" aria-label="">
        </form>
    </div>
    {#    <div class="uk-container" id="search-items"></div>#}
</div>